*.obj
*.db
*.ipch
*.tlog
*.bin
*.opendb
*.db-wal
*.vsidx
*.config
Engine/OpenResearchEngine/.vs/OpenResearchEngine/copilot-chat/d11ed283/sessions/8ce66283-35aa-4316-9569-c61533185539
*.db-shm
Engine/OpenResearchEngine/.vs/OpenResearchEngine/v17/.suo
Engine/OpenResearchEngine/.vs/OpenResearchEngine/v17/DocumentLayout.backup.json
Engine/OpenResearchEngine/.vs/OpenResearchEngine/v17/DocumentLayout.json
Engine/OpenResearchEngine/CLAUDE.md
*.log
*.recipe
*.ilk
Engine/OpenResearchEngine/OpenRese.6CFBC7B3/x64/Debug/OpenResearchEngine.vcxproj.FileListAbsolute.txt
*.idb
*.exe
*.pdb
Engine/OpenResearchEngine/x64/Debug/OpenResearchEngine.exe
*.pdb
Engine/OpenResearchEngine/x64/Debug/OpenResearchEngine.pdb
